/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins',
}

/* Reusable Box Style */
.reusable-box {
    @apply rounded-[23px];
    background: linear-gradient(90deg, #124202 0%, #000000 100%);
    box-shadow: rgb(26, 25, 25) 0px 8px 12px;
}

.spotlight {
    height: 70vh; /* 60% of viewport height */
    width: 80vw; /* 80% of viewport width */
    background-image: radial-gradient(closest-side, rgba(47, 176, 3, 0.21), transparent);
    position: absolute;
    top: -25vh; /* Move up relative to viewport height */
    z-index: 0;
    pointer-events: none;
}

/* Adjust the size and position for smaller screens */
@media screen and (max-width: 768px) {
    .spotlight {
        height: 50vh;
        width: 90vw;
        top: -25vh;
        left: 2vw;
    }
}

/* Adjust for very small screens (mobile) */
@media screen and (max-width: 480px) {
    .spotlight {
        height: 60vh;
        width: 100vw;
        top: -20vh;
        left: 0;
    }
}

.cube {
  position: relative;
  width: 12px; /* Reduced size */
  height: 12px; /* Reduced size */
  transform-style: preserve-3d;
  animation: rotate 6s linear infinite;
}

.cube > div {
  position: absolute;
  width: 12px; /* Match cube size */
  height: 12px; /* Match cube size */
  opacity: 0.9;
  background: linear-gradient(to right, #79e255, #038815);
}

.s1 {
  transform: translateZ(8px); /* Adjust for smaller size */
}

.s2 {
  transform: rotateY(90deg) translateZ(8px);
}

.s3 {
  transform: rotateY(180deg) translateZ(8px);
}

.s4 {
  transform: rotateX(90deg) translateZ(8px);
}

.s5 {
  transform: rotateY(-90deg) translateZ(8px);
}

.s6 {
  transform: rotateX(-90deg) translateZ(8px) rotate(180deg);
}

@keyframes rotate {
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
}

  
  

