@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Reusable Box Style */
.reusable-box {
    @apply rounded-[23px];
    background: linear-gradient(90deg, #124202 0%, #000000 100%);
    box-shadow: rgb(26, 25, 25) 0px 8px 12px;
}

.spotlight {
    height: 70vh; /* 60% of viewport height */
    width: 80vw; /* 80% of viewport width */
    background-image: radial-gradient(closest-side, rgba(47, 176, 3, 0.21), transparent);
    position: absolute;
    top: -25vh; /* Move up relative to viewport height */
    z-index: 0;
    pointer-events: none;
}

/* Adjust the size and position for smaller screens */
@media screen and (max-width: 768px) {
    .spotlight {
        height: 50vh;
        width: 90vw;
        top: -25vh;
        left: 2vw;
    }
}

/* Adjust for very small screens (mobile) */
@media screen and (max-width: 480px) {
    .spotlight {
        height: 60vh;
        width: 100vw;
        top: -20vh;
        left: 0;
    }
}

  
  

